/* Main page */
/*making text be in the center*/
* {
    text-align: center;
}

body {
    /*setting the backround image*/
    background-image: url("https://st.depositphotos.com/1218908/1203/i/450/depositphotos_12038466-stock-photo-beautiful-ocean-view-of-the.jpg");
    /*image cover whole page*/
    background-size: cover;
    /*keep backropund in place while scrolling*/
    background-attachment: fixed;
    /*fall back in case the backround image breaks*/
    background-color: lightblue;
/*the font type and size*/
    font-family: Arial, sans-serif;
    color: black;
/*creates the space*/
    margin: 0;
    padding: 30px;
}


/* Header the top part  */

header {
    background-color: blue;
    color: white;

    width: 80%;
    margin: auto;
    padding: 20px;

    border: 3px solid white;
}


/* Navigation whee i can go to different pages and making the color. */

nav {
    background-color: #0d47a1;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    /*makes the lists together like in a line*/
    display: inline;
    margin: 15px;
}

nav a {
    color: white;
    font-size: 18px;
}


/* Main content box */

main {
    background-color: white;

    width: 80%;
    /*creates the size and centers it*/
    margin: 20px auto;
    padding: 25px;

    border: 3px solid #1565c0;
}


/* Sections */

section {
    margin: 20px;
    padding: 20px;

    border: 2px solid #1565c0;
}


/* Headings */

h1 {
    font-size: 40px;
}

h2 {
    color: #1565c0;
}

h3 {
    color: #0d47a1;
}


/* Images */

img {
    /*setting how big the image can get so it doesnt break or look wierd*/
    max-width: 80%;
    height: auto;

    margin: 10px;
    border: 3px solid #1565c0;
}


/* Links */

a {
    color: #1565c0;
}

a:hover {
    /*when u hover over the link it changes color so you know*/
    color: red;
}


/* Form */

input,
select,
textarea {
    /*style the form boxes */
    padding: 8px;
    margin: 5px;

    border: 2px solid #1565c0;
}


/* Button */

button {
    background-color: #1565c0;
    color: white;

    padding: 10px 20px;

    border: 2px solid #0d47a1;
}

button:hover {
    background-color: #0d47a1;
}


/* Footer */

footer {
    /*make sure the footer stays on the bottom seperated from the other bits*/
    background-color: #1565c0;
    color: white;

    width: 80%;
    margin: auto;
    padding: 10px;

    border: 3px solid white;
}